@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

section#mainPage {
  position: relative;
  height: 100vh;
  background: url("./resources/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
  &::before {
    content: url("./resources/bg-overlay.png");
    background-color: rgba(0, 0, 0, 0.122);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  > article.gem {
    height: 34%;
    border-bottom: 1px solid #fff;
    display: grid;
    place-items: center;
    > svg {
      height: 40px;
      padding: 30px;
      border: 1px solid #fff;
      border-radius: 50%;
      transform: translateY(60px);
    }
    > div.verticalLine {
      position: absolute;
      top: 280px;
      width: 1px;
      height: 58px;
      background-color: white;
    }
  }
  > article.hero {
    padding: 0 7px 0;
    height: 20%;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h1 {
      letter-spacing: 3px;
      text-align: center;
    }
    > p {
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: left;
      text-align: justify;
      > span {
        text-decoration: underline dotted;
      }
    }
  }
}
